[flake8]
ignore =
  D,
  W291,
  W293,
  W391,
  W503,
  E302,
  E303,
  E306,
  E731
exclude = .git,.github,.cache,.mypy_cache,.pytest_cache,docs,.venv,.build,build
max-complexity = 10
max-line-length = 89
